
/* Add a black background color to the top navigation */
.topnav {
    background-color: lightseagreen;
    overflow: hidden;
}

*{
    margin: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: black;
    color: white;
    text-shadow: .1px .5px blue;
}


body{
    background: linear-gradient( lightgray, darkslategray);
    padding: 0px 0px 210px;
}



img{
    display: block;
    width: 400px;
    margin: 0 auto;
    background: linear-gradient( cyan, dodgerblue);
    padding: 5px;
    border-radius: 27px;
}

.btn{
    background-image: linear-gradient(red, yellow);
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    box-shadow: gray 4px 4px;
    transition: 0.3s;
    margin: 4px 2px;
}
.btn:hover {
    background: darkorange;
    color: black;
    box-shadow: black 4px 4px;
}



/*.black-box{*/
/*     position: fixed;*/
/*     background-color: darkslategray;*/
/*     top: 0px;*/
/*     right:0px;*/
/*     left: 0px;*/
/* }*/

/*img styling*/
/*.container {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    border: 1px solid black;*/
/*    width: 500px;*/
/*}*/

/*img {*/
/*    border: 2px solid white;*/
/*    position: relative;*/
/*    right: -250px;*/
/*    bottom: -150px;*/
/*    border-radius: 50%;*/
/*    */
/*}*/

img:hover{
    background: linear-gradient(blue, purple);
}

form{
    background: linear-gradient(dodgerblue, rebeccapurple);
    width: 250px;
    padding: 5px 5px 5px;
    border-radius: 15px;
    margin: 0 auto;
}

form:hover{
    background: linear-gradient(blue, red);
}